{
  "presets": [
    [
      "@babel/preset-env",{
        "useBuiltIns":"usage",
        "corejs":3
      }
    ]
  ],
  "env": {
    "development":{
      "plugins": ["dynamic-import-node"]
    }
  }
}
